# TELECOM CHURN - WHAT'S THE HANG UP?

![frustrated_caller](images/frustrated_caller.jpg)

## Business Case
Build a classifier to predict whether a customer will ("soon") stop doing business with SyriaTel, a telecommunications company. This is a binary classification problem.

Most naturally, your audience here would be the telecom business itself, interested in reducing how much money is lost because of customers who don't stick around very long. The question you can ask is: are there any predictable patterns here?

## Road Map (to Perdition)

### [Data Understanding](#data_understanding)
For this project, we are utilizing data from SyriaTel, made available on [Kaggle](https://www.kaggle.com/datasets/becksddf/churn-in-telecoms-dataset/), a popular data science hub.

### [Data Preparation](#data_preparation)

### [Modeling](#modeling)

### [Evaluation](#evaluation)

### [Iteration](#iteration)

### [Conclusion](#conclusion)

## Data Understanding <a id='data_understanding'></a>
For this project, we are utilizing data from SyriaTel, made available on [Kaggle](https://www.kaggle.com/datasets/becksddf/churn-in-telecoms-dataset/), a popular data science hub.

To get started, we're going to import our standard collection of relevant items.

In [294]:
#import python libraries for data visualizations, dataframes, and statistical capabiilities
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#import scikit modules for machine learning techniques
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report, roc_auc_score, roc_curve, auc
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

### Obtaining Data
The data itself is a CSV file, so we can use some of our standard import methods to

In [295]:
df = pd.read_csv('data/bigml_59c28831336c6604c800002a.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

### Data Inspection
Let's do some high level inspection. We're going to look at our target variable distribution.

#### Target Variable Distribution
How many customers are "churning". True means they've left. False means they're still a customer.

In [296]:
#obtain total count of target variables
df['churn'].value_counts()

False    2850
True      483
Name: churn, dtype: int64

In [297]:
target = df['churn']
features = df.drop('churn', axis = 1)

#### Features Type
What are our features type? We'll need to convert these to numerical at some point

In [298]:
#find the type counts for your data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

#### Numeric Feature Statistics

In [299]:
#let's see some high level description of our data
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [300]:
#we'll inspect the counts of each state
df['state'].value_counts()

WV    106
MN     84
NY     83
AL     80
OR     78
WI     78
OH     78
WY     77
VA     77
CT     74
ID     73
VT     73
MI     73
UT     72
TX     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
WA     66
NV     66
CO     66
MA     65
RI     65
MS     65
AZ     64
FL     63
MO     63
ND     62
NM     62
ME     62
DE     61
NE     61
OK     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
DC     54
GA     54
TN     53
HI     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: state, dtype: int64

#### Summary
A few high level summary items. We discover that we have 20 columns of features and 1 column of targets. Our target is Boolean - (True/False), so this confirms the nature of our analysis as binary classification. 

There are 3333 total entries. Of our feature columns, 4 are objects. Of these 4 columns, they all feel relevant for our case, except for phone number. The other columns are floats or ints so we can process that appropriately. Additionally, we see that `'area code'` is an `int`. We know that area codes are really a description of a region, much like the `'state'` column, so we should probably treat that like a categorical. Our review of the states column shows that we have siginificant accounts from every state.

In [301]:
print(f'There a total of {len(target)} entries.')
class_imbalance = " "
churn_percentage = len(df[target == True])/len(target)
if churn_percentage > .2:
    class_imbalance = " not "
print(f'The percentage of users who churn is {churn_percentage :.2%}.')
print(f'We do{class_imbalance}have class imbalance concerns.')
print(f'So... our model should have a higher accuracy than {(1 - churn_percentage) :.2%} at predicting who will stay.')

There a total of 3333 entries.
The percentage of users who churn is 14.49%.
We do have class imbalance concerns.
So... our model should have a higher accuracy than 85.51% at predicting who will stay.

### Data Preparation <a id='data_preparation'></a>

Before we begin the modeling, we have to make sure our data is cleaned and ready for processing. So, to do this, we're going to drop the phone numbers, one hot encode our categorical data, and convert our boolean category to integers (0,1). We previously observed that we have no null values, so we don't have to fill any in.

#### Drop  Phone Numbers
From our domain knowledge, we know that the last seven digits of a phone number are unique and assigned randomly. We don't want these numbers considered so we're going to drop them from our data set.

In [302]:
X = features.drop('phone number', axis = 1)
X

,state,account length,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2
3329,WV,68,415,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3
3330,RI,28,510,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2
3331,CT,184,510,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2
3332,TN,74,415,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0

#### One Hot Encoding
Now that we've dropped our phone number category, it's we can one hot encode our two remaning columns, which are `'state'`, `'area code'`, as well as `'international plan'` and `'voice mail plan'`. We can also convert our target column to 1/0 as well. To simplify, we'll do a binary converstion on `'international plan'` and `'voice mail plan'` to convert to 1/0 .

In [303]:
#we'll use a mapping function to convert the yes/nos to 1/0s
d = {'no': 0, 'yes': 1}
X['international plan'] = X['international plan'].map(d).fillna(X['voice mail plan'])
X['voice mail plan'] = X['voice mail plan'].map(d).fillna(X['voice mail plan'])

In [304]:
#we'll use getdummies function to do one hot encoding for the 'state' and 'area code'
X_ohe = pd.get_dummies(X)
X_ohe = pd.get_dummies(X_ohe, columns = ['area code'])
#we'll remerge these matrices.
#X_ohe = X.drop(['state','area code'],axis=1)
X_ohe

,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,...,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,area code_408,area code_415,area code_510
0,128,0,1,25,265.1,110,45.07,197.4,99,16.78,...,0,0,0,0,0,0,0,0,1,0
1,107,0,1,26,161.6,123,27.47,195.5,103,16.62,...,0,0,0,0,0,0,0,0,1,0
2,137,0,0,0,243.4,114,41.38,121.2,110,10.30,...,0,0,0,0,0,0,0,0,1,0
3,84,1,0,0,299.4,71,50.90,61.9,88,5.26,...,0,0,0,0,0,0,0,1,0,0
4,75,1,0,0,166.7,113,28.34,148.3,122,12.61,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,0,1,36,156.2,77,26.55,215.5,126,18.32,...,0,0,0,0,0,0,0,0,1,0
3329,68,0,0,0,231.1,57,39.29,153.4,55,13.04,...,0,0,0,0,0,1,0,0,1,0
3330,28,0,0,0,180.8,109,30.74,288.8,58,24.55,...,0,0,0,0,0,0,0,0,0,1
3331,184,1,0,0,213.8,105,36.35,159.6,84,13.57,...,0,0,0,0,0,0,0,0,0,1
3332,74,0,1,25,234.4,113,39.85,265.9,82,22.60,...,0,0,0,0,0,0,0,0,1,0

Great, so we've expanded our now let's convert the target from yes/no to 1/0.

In [305]:
#we'll use the .astype function to convert boolean to the integer
target.astype(int)

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: churn, Length: 3333, dtype: int32

#### Summary
We've now performed the one hot encoding for our categorical data, as well as removed the phone numbers from our data. We've also converted our target to 0,1s, so we should be ready to perform our train-test split, transform the data, and begin training our model.

### Modeling <a id='modeling'></a>

Now that we have cleaned our data, we can being to prepare it for preprocessing, transformation, and eventually modeling. We noted early that we have roughly 85% of our users who stay on our cellular plan, so we should account for the class imbalance here.

#### Train-Test Split and Scaling
To start, let's perform our train-test split and scaling.

In [306]:
#perform train-test split
X_train, X_test, y_train, y_test = train_test_split(X_ohe, target, random_state=42, test_size = .25)

# Instantiate StandardScaler
scaler = StandardScaler()

# Transform the training and test sets
scaled_data_train = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)

Perfect, now, to inspect the split I'll convert into a dataframe.

In [307]:
# Convert into a DataFrame
scaled_df_train = pd.DataFrame(scaled_data_train, columns = X_ohe.columns)
scaled_df_train

,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,...,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,area code_408,area code_415,area code_510
0,-1.404508,-0.327448,-0.611418,-0.584700,-1.883677,1.330852,-1.884170,1.037727,0.401340,1.037905,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,1.001201,-0.570111
1,0.366388,-0.327448,-0.611418,-0.584700,0.294083,0.529165,0.293703,0.516178,0.401340,0.517286,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,1.001201,-0.570111
2,0.518179,-0.327448,1.635543,1.685101,1.056392,-1.875896,1.056666,0.093407,0.849774,0.094283,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,1.707902,-0.998800,-0.570111
3,2.010792,-0.327448,-0.611418,-0.584700,-0.679156,1.681590,-0.679320,-0.402459,0.650470,-0.403094,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,1.001201,-0.570111
4,0.290493,-0.327448,-0.611418,-0.584700,0.484660,1.080325,0.484172,-0.718549,-0.296224,-0.719184,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,-0.998800,1.754044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,0.138701,-0.327448,-0.611418,-0.584700,1.746540,0.980114,1.746707,-0.044882,-0.894137,-0.045169,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,-0.998800,1.754044
2495,0.543478,-0.327448,-0.611418,-0.584700,-2.681141,-1.926002,-2.680873,-0.396533,-0.545355,-0.396122,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,1.001201,-0.570111
2496,-0.873239,-0.327448,-0.611418,-0.584700,-1.709753,-1.224526,-1.710027,1.207625,0.550818,1.207571,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,1.707902,-0.998800,-0.570111
2497,1.732508,-0.327448,-0.611418,-0.584700,-0.014911,0.529165,-0.015400,-0.507164,1.497512,-0.507683,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,-0.585514,1.001201,-0.570111
2498,-1.632195,-0.327448,1.635543,2.563733,-2.777355,1.130430,-2.777740,-1.417899,0.849774,-1.418766,...,-0.144338,-0.156845,-0.144338,-0.147201,-0.163417,-0.175899,-0.1555,1.707902,-0.998800,-0.570111

Perfect, so, we have our scaled data set now. We can begin a various modeling techniques. We will compare various techniques, KNN, Logisitic Regression and Decision Tree and then make a decision from those base models on which to proceed.

#### KNN
We'll set up a baseline KNN classifier with no pyrameters tuning to see what we get.

In [352]:
# Import KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

# Instantiate KNeighborsClassifier
knn_clf = KNeighborsClassifier()

# Fit the classifier
knn_clf.fit(scaled_data_train, y_train)

# Predict on the test set
train_preds = knn_clf.predict(scaled_data_train)

Now we have our model, let's see the results. We're going to use a variety of metrics here.

In [353]:
# import the evlaution metrics
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score

# create a 
def print_metrics(labels, preds):
    print("Precision Score: {}".format(precision_score(labels, preds)))
    print("Recall Score: {}".format(recall_score(labels, preds)))
    print("Accuracy Score: {}".format(accuracy_score(labels, preds)))
    print("F1 Score: {}".format(f1_score(labels, preds)))
    
print_metrics(y_train, train_preds)

Precision Score: 0.9
Recall Score: 0.17597765363128492
Accuracy Score: 0.8791516606642658
F1 Score: 0.29439252336448596

Precision score of 0.9 isn't bad, and the accuracy score has improved. We used the default K in this case of 5. Let's see if we can find the best K possible. To do this, we'll create a function find the optimal K value.

In [356]:
def find_k(X_train, y_train, X_test, y_test, min_k=1, max_k=25):
    best_k = 0
    best_score = 0.0
    for k in range(min_k, max_k+1, 2):
        knn = KNeighborsClassifier(n_neighbors=k)
        knn.fit(X_train, y_train)
        preds = knn.predict(X_test)
        acc = accuracy_score(y_test, preds)
        if acc > best_score:
            best_k = k
            best_score = acc
    
    print("Best Value for k: {}".format(best_k))
    print("Accuracy-Score: {}".format(best_score))
    
find_k(scaled_data_train, y_train, scaled_data_train, y_train)

Best Value for k: 1
Accuracy-Score: 1.0

Whoa! These results seem... off. It saying our best value for K is to test 1 neighbor and our Accuracy score is perfect.

Maybe we got lucky with our split. Let's rerun this model but this time we will score with Cross validation.

In [357]:
def find_k_cross(X_train, y_train, X_test, y_test, min_k=1, max_k=25):
    best_k = 0
    best_score = 0.0
    for k in range(min_k, max_k+1, 2):
        knn_clf_cross = KNeighborsClassifier(n_neighbors=k)
        knn_clf_cross.fit(X_train, y_train)
        preds = knn_clf_cross.predict(X_test)
        dt_cv_score = cross_val_score(knn_clf_cross, scaled_data_train, y_train, cv=5)
        acc = np.mean(dt_cv_score)
        if acc > best_score:
            best_k = k
            best_score = acc
    
    print("Best Value for k: {}".format(best_k))
    print("Accuracy-Score: {}".format(best_score))

find_k_cross(scaled_data_train, y_train, scaled_data_train, y_train)

Best Value for k: 7
Accuracy-Score: 0.8591430861723446

Okay... this look more reasonable. Our optimal K value was 7 and our Accuracy was 85.9%. So, we slightly improved over our baseline, but not really. Let's try something else.

#### Logistic Regression
Now let's try a logistic regression. To perform this, we're going to scale our model differently. Previously, we used a standard scaler with KNN. However, now with the Logistic Regression, we must used the MinMaxScaler to avoid negative numbers.

Let's go ahead and transform the data and then rerun it.

In [358]:
# Instantiate StandardScaler
mmscaler = MinMaxScaler()

# Transform the training and test sets
mmscaled_data_train = mmscaler.fit_transform(X_train)
mmscaled_data_test = mmscaler.transform(X_test)

In [359]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(fit_intercept=False, C=1e12, solver='liblinear')
model_log = logreg.fit(mmscaled_data_train, y_train)
model_log

LogisticRegression(C=1000000000000.0, fit_intercept=False, solver='liblinear')

In [360]:
train_preds = model_log.predict(mmscaled_data_train)

In [361]:
def print_metrics(labels, preds):
    print("Precision Score: {}".format(precision_score(labels, preds)))
    print("Recall Score: {}".format(recall_score(labels, preds)))
    print("Accuracy Score: {}".format(accuracy_score(labels, preds)))
    print("F1 Score: {}".format(f1_score(labels, preds)))
    
print_metrics(y_train, train_preds)

Precision Score: 0.6333333333333333
Recall Score: 0.26536312849162014
Accuracy Score: 0.8727490996398559
F1 Score: 0.37401574803149606

Okay, so... at quick glance we did improve slightly on the Accuracy Score. Again, it's nothing... amazing. 
Perhaps we can iterate over a few options and find a good C, as well as a solver.

This time, we're going to use the

In [275]:
#{‘lbfgs’, ‘liblinear’, ‘newton-cg’, ‘newton-cholesky’, ‘sag’, ‘saga’}

def find_k_cross(X_train, y_train, X_test, y_test, min_k=1, max_k=25):
    best_k = 0
    best_score = 0.0
    for k in range(min_k, max_k+1, 2):
        knn_clf_cross = KNeighborsClassifier(n_neighbors=k)
        knn_clf_cross.fit(X_train, y_train)
        preds = knn_clf_cross.predict(X_test)
        dt_cv_score = cross_val_score(knn_clf_cross, scaled_data_train, y_train, cv=5)
        acc = np.mean(dt_cv_score)
        if acc > best_score:
            best_k = k
            best_score = acc
    
    print("Best Value for k: {}".format(best_k))
    print("Accuracy-Score: {}".format(best_score))

find_k_cross(scaled_data_train, y_train, scaled_data_train, y_train)

ValueError: Classification metrics can't handle a mix of binary and continuous targets